body {
	background-color: #14181B;
}

.main-bg {
	background-image: url(/images/bcg_slide-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 400px;
}

.main-header {
	background-color: rgba(255,255,255,0.2);
}

.graph-div {
	margin-top: 10px;
}