body {
	background-color: #14181B;
}

.main-bg {
	background-image: url(/images/bcg_slide-1.jpg);
	background-repeat: no-repeat;
	background-position: center; 
	min-height: 400px;
}

.main-header {
	background-color: rgba(255,255,255,0.2);
}

.graph-div {
	margin-top: 10px;
}

#user_graph {
   position: relative;
}
#user_graph:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/images/bcg_slide-1.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}