html, body { height: 100%; }

.text-center { text-align: center; }

.title {
	font-weight: 100;
	font-family: 'Lato';
	font-size: 96px;
}

.sub-title {
	font-weight: 100;
	font-family: 'Lato';
	font-size: 80px;
}

.title-div {
    background: url('/images/iceland_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    height: 300px;
 }