html, body {
	height: 100%; 
	font-family: 'Lato';
	font-weight: 400;
}

.title, .sub-title {
	font-weight: 100;
	font-family: 'Lato';
}

.title {
	font-size: 96px;

	color: white;
	text-shadow: 2px 2px 4px #000000;
}

.sub-title {
	font-size: 80px;
}

.title-div {
	background-image:  url('/images/Fanone.jpg');
	
	background: -webkit-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');		/* Safari 5.1 to 6.0 */
	background: -moz-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');			/* For Firefox 3.6 to 15 */
	background: -o-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');			/* For Opera 11.6 to 12.0 */
	background: radial-gradient(circle, transparent 20%, rgba(41, 128, 185,0.7) 60%), url('/images/Fanone.jpg');	/* Standard syntax */	

	background-color: #2980b9;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;

	position: relative;
	
	height: 550px;
}

.title-container {
	width:100%;
	position: absolute;
	bottom: 10px;
}

p.about {
	font-size: 20px;
}

h2.about { 
	line-height: 1.5;
	border-bottom: solid 6px #2980b9;
}

.blue-bg {
	color: #fff;
	background-color: #2980b9;
}

.blue-bg h2.about { border-bottom: solid 6px #fff; }

.exp_container {
    border: solid 1px #fff;
    border-radius: 10px;
    padding: 20px;
}

.exp_container:not(:first-child) {
    margin-top:10px;
}

.exp_container .header {
    border-bottom: solid 1px #fff;
    font-size: 20px;
}

.exp_container .desc {
    font-size: 15px;
}

@media (max-width: 425px) {
	.title { font-size: 70px; }
}

@media (min-width: 1100px) {
    .title-div {
        background-image:  url('/images/Fanone.jpg');
        
        background: -webkit-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');      /* Safari 5.1 to 6.0 */
        background: -moz-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');         /* For Firefox 3.6 to 15 */
        background: -o-radial-gradient(circle, transparent, transparent, #2980b9), url('/images/Fanone.jpg');           /* For Opera 11.6 to 12.0 */
        background: radial-gradient(circle, transparent 20%, rgba(41, 128, 185, 1) 60%), url('/images/Fanone.jpg');    /* Standard syntax */   
        
    	background-color: #2980b9;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
}